<div class="flex flex-col md:flex-row mx-10">
  <!--left side-->
  <!--center-->
  <div class="container mx-auto md:w-9/12 w-11/12 "> 
    <label>毎時、プロジェクトの中からランダムに選んだものをカルーセルにして並べる（工事中）</label>
    <div class="carousel carousel-center ounded-box p-5 space-x-4">
      <div class="carousel-item">
        <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        <%# image_tag @projects.second.project_image.variant(resize_to_limit: [400, 300])%>
      </div> 
      <div class="carousel-item">
        <img src="https://placeimg.com/400/300/arch" alt="Burger" />
      </div> 
      <div class="carousel-item">
        <img src="https://placeimg.com/400/300/arch" alt="Burger" />
      </div> 
    </div>
    <!--New projects line-->
    <div id="new-project">
      <div id="new-project-header">
        <div class="flex justify-between">
          <div class="title">
            <h1> 新着プロジェクト </h1>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 ">
        <%= render partial: "projects/project", collection: @projects.limit(8), as: 'project' %>
      </div>
    </div>
    <!--Finished projects line-->
    <div id="famous-workspace">
      <div id="famous-workspace-header">
        <div class="flex justify-between">
          <div class="title">
            <h1> 新着/完成プロジェクト </h1>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 ">
        <%= render partial: "projects/project", collection: @projects.recent_dones.limit(4), as: 'project' %>
      </div>
    </div>
    <!--Favorite projects line-->
    <div id="favorite-project">
      <div id="favorite-project-header">
        <div class="flex justify-between">
          <div class="title">
            <h1> 人気プロジェクト </h1>
          </div>
        </div>
      </div>
      <!--content grid-->
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 ">
        <!--main content-->
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Card title!</h2>
            <p>If a dog  does he choose?</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--New workspaces line-->
    <!--famous workspaces line-->
  </div>
  <!--right side-->
  <div class="mx-auto md:w-3/12 w-11/12 " >
    <h1> お知らせ (工事中)</h1>
    <h1> １週間ごとに区切ってお知らせ</h1>
    <div class="overflow-auto h-1/5"> 
      <%= tag.h1 "#{Date.current.beginning_of_week}  ~  #{Date.current.end_of_week} "  %>
      <table class="table w-full">
        <tbody>
          <!-- sample -->
          <!--
          <tr>
            <td>
              <div class="text-stone-400 text-sm"><%# @news.created_at %></div>
              <%# link_to @news.title , news %>
            </td>
          </tr>
          みたいなやつを後で書く
          -->
          <!-- row 1 -->
          <tr>
            <td>
              <div class="text-stone-400 text-sm"><%= Date.current %></div>
              <div>なんかのお知らせ（工事中）</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-stone-400 text-sm"><%= Date.current %></div>
              <div>いい感じのお知らせ（工事中）</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-stone-400 text-sm"><%= Date.current %></div>
              <div>気分が上がるお知らせ（工事中）</div>
            </td>
          </tr>
                    <tr>
            <td>
              <div class="text-stone-400 text-sm"><%= Date.current %></div>
              <div>なんかのお知らせ（工事中）</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-stone-400 text-sm"><%= Date.current %></div>
              <div>いい感じのお知らせ（工事中）</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-stone-400 text-sm"><%= Date.current %></div>
              <div>気分が上がるお知らせ（工事中）</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <%=tag.h1 t('defaults.user.new_user')%>
    <div class="overflow-x-auto h-2/5"> 
      <table class="table w-full">
        <tbody>
          <%= render partial: "workspace_avatar", collection: @workspaces, as: "workspace" %>
        </tbody>
      </table>
    </div>
  </div>
</div>