<!--カルーセル-->
<label class="label">
  <span class="label-text-alt">スクロールで左右に動きます</span>
</label>
<div id='carousel-image' class='carousel carousel-center'> 
  <%= render partial: 'shared/carousel_project_image', collection: @projects.image_attached_projects(8), as: 'project', locals: {height: 200, width: 200} %>
</div>
<div id='welcome-page' class='flex flex-col md:flex-row mx-1 md:mx-10'>
  <!--center-->
  <div id='center-welcome-page' class='container mx-auto md:w-9/12 w-11/12 '> 
    <!--新規プロジェクト-->
    <div id='new-project'>
      <div id='new-project-header'>
        <%=tag.div t('.new_project'), class:'divider my-10 text-3xl' %>
      </div>
      <div id='new-project-main' class='grid grid-cols-2 lg:grid-cols-4 gap-4 p-1 lg:p-5 rounded-xl border-2 border-violet-100 border-dashed'>
        <%= render partial: 'projects/project', collection: @projects.recent_in_progress(8), as: 'project' %>
      </div>
      <div id='new-project-footer' class='flex flex-row-reverse p-5 '>
        <%= link_to t('defaults.read_more'), projects_path, class:'link text-3xl hover:link-primary' %>
      </div>
    </div>
    <!--完了プロジェクト-->
    <div id='done-project'>
      <div id='done-project-header'>
        <%=tag.div t('.done_project'), class:'divider my-10 text-3xl' %>
      </div>
      <div id='done-project-main' class='grid grid-cols-1 lg:grid-cols-4 gap-4 p-1 lg:p-5 rounded-xl border-2 border-violet-100 border-dashed'>
        <%= render partial: 'projects/project', collection: @projects.recent_done(4), as: 'project' %>
      </div>
      <div id='done-project-footer' class= 'flex flex-row-reverse p-5 my-5'>
        <%= link_to controller: 'projects', action: 'index', q: { state_eq_any: 5 } do %>
          <%= tag.div t('defaults.read_more'), class: 'link text-3xl hover:link-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <!--right side-->
  <div id='right-welcome-page' class='mx-auto md:w-3/12 w-11/12'>
    <!--お知らせ-->
    <div id= 'news'>
      <div id='news-header'>
        <div class='divider my-10 text-3xl'>お知らせ</div>
      </div>
      <div id='news-main'>
        <div class='overflow-auto px-10'> 
          <table class='table w-full'>
            <tbody>
              <%= render partial: 'shared/news', collection: @news %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--新規ユーザー-->
    <div id='new-workspace-owners'>
      <div id='new-workspace-owners-header'>
        <%=tag.div t('defaults.user.new_user'), class: 'divider my-10 text-3xl' %>
      </div>
      <div id='new-workspace-owners-main' class='px-10'>
        <div class='overflow-x-auto h-2/5'> 
          <table class='table w-full'>
            <tbody>
              <%= render partial: 'workspace_avatar', collection: @workspaces.limit(8), as: 'workspace' %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>