<%= form_with(model: admin_workspace,url: admin_workspace_path, class: "contents") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div>
      <%= tag.span '*', class: 'text-xl text-red-500' %>
      <%= tag.span t('.message.required') %>
    </div>
    <div class='my-5'>
      <%= f.label :owner_name, class: 'label font-mono' %>
      <%= f.text_field :owner_name, class: 'input input-bordered px-3 py-2 mt-2 w-full' %>
    </div>
    <div class='my-5'>
      <%= f.label :owner_comment, class: 'label font-mono' %>
      <%= f.text_area :owner_comment, class: 'textarea textarea-bordered px-3 py-2 mt-2 w-full h-60' %>
    </div>
    <div class='my-5'>
      <%= f.label :owner_avatar, class: 'label font-mono' %>
      <label class='label py-0'>
        <%= tag.span t('.message.image'), class: 'label-text-alt text-xs text-slate-400'%>
      </label>
      <%= f.file_field :owner_avatar, class: 'input input-bordered px-3 py-2 mt-2 w-full', accept: '.png, .jpg, .jpeg' %>
    </div>
    <div class='my-5'>
    <%= f.label :email, class: 'font-mono' %><span class= 'text-xl text-red-500' > * </span>
    <%= f.text_field :email, required: true, class: 'input input-bordered px-3 py-2 mt-2 w-full' %>
  </div>
  <div class='my-5'>
    <%= f.label :password, class: 'font-mono' %><span class= 'text-xl text-red-500' > * </span>
    <%= f.password_field :password, required: true, class: 'input input-bordered px-3 py-2 mt-2 w-full' %>
  </div>
  <div class='my-5'>
    <%= f.label :password_confirmation, class: 'font-mono' %><span class= 'text-xl text-red-500' > * </span>
    <%= f.password_field :password_confirmation, required: true, class: 'input input-bordered px-3 py-2 mt-2 w-full' %>
  </div>
  <div class='inline'>
    <%= f.submit class: 'rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer' %>
  </div>
<% end %>
