<div id="<%= dom_id sns_information %>" class= 'flex m-1'>
  <%= link_to sns_link(sns_information), class: 'link ml-2', target: '_blank', rel: 'noopener noreferrer' do %>
    <%= render 'shared/sns_svg', {sns: sns_information.sns_category } %>
  <% end %>
  <% if request.fullpath == "/workspaces/#{@workspace&.id}/sns_informations" %>
    <%= sns_information.sns_account %>
    <%= link_to t('defaults.edit'), edit_workspace_sns_information_path(@workspace,sns_information), class: "btn btn-info btn-xs ml-2" %>
    <%= button_to t('defaults.destroy'), workspace_sns_information_path(@workspace,sns_information), method: :delete,
        form: { data: { turbo_confirm: "削除しますか？" } },
        class: "btn btn-secondary btn-xs ml-2" %>
  <% end %>
</div>