<div id="<%= dom_id task %>">

  <p class="my-5">
    <% if task.task_image.present? %>
      <%= image_tag task.task_image.variant(resize_to_limit: [200, 200])%>
    <% else %>
      <%= image_tag 'sample_project.png', size: '200x200' %>
    <% end %>
  </p>

  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('title'), class: "block font-medium" %>
    <%= task.title %>
  </p>

  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('body'), class: "block font-medium" %>
    <%= simple_format(task.body) %>
  </p>
  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('usage_time'), class: "block font-medium" %>
    <%= task.usage_time %>
  </p>

  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('task_state'), class: "block font-medium" %>
    <%= task.task_state_i18n %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this task", project_task_path(task), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this task', edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
