<div id="<%= dom_id task %>">

  <p class="my-5">
    <% if task.task_image.present? %>
      <%= image_tag task.task_image.variant(resize_to_limit: [100, 100])%>
    <% else %>
      <%= cl_image_tag "daichi-test/animal-test/sample_image.png", :height=>100, :width=>100, :crop=>"thumb" %>
    <% end %>
  </p>

  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('title'), class: "block font-medium" %>
    <%= task.title %>
  </p>

  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('body'), class: "block font-medium" %>
    <%= simple_format(task.body) %>
  </p>
  <div class="form-control">
  <p>ToDoリストは工事中</p>
  <label class="label cursor-pointer">
    <input type="checkbox" checked="checked" class="checkbox" />
    <span class="label-text">タスク1</span> 
  </label>
  <label class="label cursor-pointer">
    <input type="checkbox" checked="checked" class="checkbox" />
    <span class="label-text">タスク1</span> 
  </label>
  <label class="label cursor-pointer">
    <input type="checkbox" checked="checked" class="checkbox" />
    <span class="label-text">タスク1</span> 
  </label>
</div>
<progress class="progress progress-success w-full" value="10" max="100"></progress>

  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('usage_time'), class: "block font-medium" %>
    <%= task.usage_time %>
  </p>

  <p class="my-5">
    <%= tag.strong Task.human_attribute_name('task_state'), class: "block font-medium" %>
    <%= task.task_state %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this task", project_task_path(task), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this task', edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
