<%= form_with(model: workspace, class: "contents") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% unless action_name == "new" %>
    <div class="my-5">
      <%= f.label :owner_name %>
      <%= f.text_field :owner_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= f.label :owner_comment %>
      <%= f.text_area :owner_comment, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <% if workspace.owner_avatar.present? %>
      <%= image_tag workspace.owner_avatar.variant(resize_to_limit: [100, 100])%>
      <%= link_to owner_avatars_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} ,class: 'btn btn-error btn-outline' do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      <% end %>
    <% end %>
  
    <div class="my-5">
      <%= f.label :owner_avatar %>
      <%= f.file_field :owner_avatar, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>

    <div class="my-5">
    <%= f.label :email %>
    <%= f.text_field :email, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= f.label :password %>
    <%= f.text_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
