<div id="<%= dom_id workspace %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('email') %>:</strong>
    <%= workspace.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('crypted_password') %>:</strong>
    <%= workspace.crypted_password %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('salt') %>:</strong>
    <%= workspace.salt %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('owner_avatar') %>:</strong>
    <% if workspace.owner_avatar.present? %>
      <%= image_tag workspace.owner_avatar.variant(resize_to_limit: [100, 100])%>
      <%=cl_image_tag("daichi-test/animal-test/#{workspace.owner_avatar.key}",
      transformation: [ effect: "shadow:40", angle: 53 ]
        ) %>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this workspace", workspace, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this workspace', edit_workspace_path(workspace), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
