<div id="<%= dom_id workspace %>">

  <!-- <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('owner_avatar') %>:</strong> -->
  <div classs= "card">
    <div class= "flex items-center ">
      <%= link_to workspace do %>
        <div class= "flex items-center ">
          <% if workspace.owner_avatar.present? %>
            <%=cl_image_tag "daichi-test/animal-test/#{workspace.owner_avatar.key}",
            gravity: "face", height: 100, width: 100, crop: "thumb", radius: 'max', fetch_format: :auto  %>
          <% else %>
            <%= image_tag "sample_avatar", size: '100x100', class: 'rounded-full' %>
          <% end %>
          <div class= "ml-5 ">
            <p class="flex-1 font-bold text-m" > <%= workspace.owner_name.truncate(20) %> さん</p>
          </div>
        </div>
      <% end %>
    </div>
      <div class= "ml-5">
        <% unless current_user == workspace%>
          <% if current_user&.follow?(workspace)%>
            <%= button_to workspace_relationships_path(workspace), method: :delete, class: "btn btn-primary btn-gap-1 btn-sm " do %>
              - Un Follow
            <% end %> 
          <% else %>
            <%= link_to workspace_relationships_path(workspace), data: { turbo_method: :post }, class: "btn btn-secondary btn-gap-1 btn-sm " do %>
              + Follow
            <% end %>
          <% end %>
        <% end %>
      </div>
    <div>
      <%= simple_format(workspace.owner_comment.truncate(30))%>
    </div>
  </div>
</div>
