<div id="<%= dom_id workspace %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('email') %>:</strong>
    <%= workspace.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('crypted_password') %>:</strong>
    <%= workspace.crypted_password %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Workspace.human_attribute_name('salt') %>:</strong>
    <%= workspace.salt %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this workspace", workspace, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this workspace', edit_workspace_path(workspace), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
