<div class="tabs container mx-auto">
  <%= link_to t('workspaces.index.title'), workspaces_path, class: 'tab tab-bordered tab-active' %>
  <%= link_to t('projects.index.title'), projects_path, class: 'tab tab-bordered'%>
</div>
<%= render 'workspaces/search_form', {q: @q, url: workspaces_path } %>
<div class="container mx-auto grid grid-cols-2 md:grid-cols-4 gap-4">
  <%= render @workspaces %>
</div>
<div class="flex justify-center" >
  <%= paginate @workspaces %>
</div>
