<%= content_for(:title, @workspace.owner_name + ' | ' + t('workspaces.show.title')) %>
<%= render 'shared/main_tab', {object: @workspace}%>
<!--ワークスペースの中身-->
<div class='container px-5 flex flex-col md:flex-row md:mx-auto'>
  <%= render 'workspaces/profiles/form', profile: @workspace %>
  <div id='workspace-project' class='w-full border rounded-lg m-3 p-2'>
    <div id='project-head'>
      <%= render 'projects/search_form',{q: @q, url: workspace_path} %>
    </div>
    <div id='project-main' class='grid grid-cols-2 lg:grid-cols-3 gap-4 '>
      <%= render partial: 'projects/project', collection: @projects.order(created_at: :desc), as: 'project' %>
    </div>
    <div>
      <%= paginate @projects %>
    </div>
  </div>
</div>