<!--プロフィールフォーム-->
<div id="<%= dom_id profile %>">

  <div class="my-5">
    <% if profile.owner_avatar.present? %>
      <%= image_tag profile.owner_avatar.variant(resize_to_limit: [100, 100])%>
    <% else %>
      <%= image_tag "sample_avatar.png", size: '100x100' %>
    <% end %>
  </div>

  <div class="my-5">
    <strong class="block font-medium mb-1">owner_name:</strong>
    <%= profile.owner_name %>
  </div>

  <div class="my-5">
    <div>
    <strong class="block font-medium mb-1">owner_comment:</strong>
    <%= profile.owner_comment%>
    </div>
  </div>

  <div class= "flex">
    <strong class="block font-medium mb-1">follows:</strong>
    <%= link_to "#{profile.followings.count}", followings_path(profile), class: "link link-hover ml-3" %>
  </div>

  <div class= "flex">
    <strong class="block font-medium mb-1">followers:</strong>
    <%= link_to "#{profile.followers.count}", followers_path(profile), class: "link link-hover ml-3" %>
  </div>

  <div class="my-5">
    <div>
      <strong class="block font-medium mb-1" >SNS:</strong>
    </div>
  </div>

  <div class="my-5">
    <div>
      <strong class="block font-medium mb-1" >ツールセット:</strong>
    </div>
  </div>

</div>
