<!--プロフィールフォーム-->
<div id='<%= dom_id profile %>'>
  <div id='owner-id' class='border rounded-lg m-3 p-2'>
    <%= render 'workspaces/owner_avatar', {user: profile, size: '100x100'} %>
    <div id='profile-name'>
      <p class='text'>
        <%= profile.owner_name %>
      </p>
    </div>
    <div id='profile-comment'>
      <div>
        <%= simple_format(profile.owner_comment) %>
      </div>
    </div>
    <% if profile == current_user %>
      <%= link_to edit_workspace_path(profile), class: 'btn btn-primary btn-xs btn-outline mr-3' do %>
        <%= tag.p t('workspaces.profile.edit') %>
      <% end %>
    <% end %>
    <%= render 'workspaces/follow_button', { workspace: profile } %>
  </div>
  <div id='profile-relations' class='border rounded-lg m-3 p-2'>
    <div id='profile-followings' class= 'flex'>
      <%= link_to "#{profile.followings.count}", followings_path(profile), class: 'link text-lg mr-1' %>
      <strong class='block font-medium mb-1'>フォロー中</strong>
    </div>
    <div id='profile-followers' class= 'flex'>
      <%= link_to "#{profile.followers.count}", followers_path(profile), class: 'link text-lg mr-1' %>
      <strong class='block font-medium mb-1'>フォロワー</strong>
    </div>
  </div>
  <div id='favorites-projects' class='border rounded-lg m-3 p-2'>
    <div>
      <strong class='block font-medium mb-1' >お気に入りのプロジェクト</strong>
    </div>
    <%= link_to "#{profile.favorites.count}", favorites_path(profile), class: 'link text-lg mr-1' %>
  </div>
  <div id='profile-sns' class='border rounded-lg m-3 p-2'>
    <div class= 'flex justify-between'>
      <strong class='block font-medium mb-1' >SNS</strong>
      <% if current_user == profile || current_user.admin? %>
        <%= link_to t('defaults.edit_page'), workspace_sns_informations_path(profile), class: 'btn btn-primary btn-xs text-cyan-50' %>
      <% end %>
    </div>
    <div class= 'flex'>
      <%= render partial: 'sns_informations/sns_information', collection: profile.sns_informations, as: 'sns_information' %>
    </div>
  </div>
</div>