<div class="navbar bg-base-100 container mx-auto border-b">
  <div class= 'navbar-start'>
    <%= link_to root_path do %>
      <%= image_tag 'top_logo.png', size: '100x100'  %>
    <% end %>
    <%= link_to 'Modelers Log', root_path, class: 'normal-case text-sm xl:text-2xl text-slate-400' %>
  </div>
</div>
<div class="navbar bg-base-100 container mx-auto border-b">
  <div class="navbar-start">
    <label for="my-drawer" class="btn btn-circle target:">
      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
        <%= tag.path d:emmbed_svg('menu')['path'] %>
      </svg>
    </label>
  </div>
  <div class="navbar-end">
    <%= link_to t('defaults.signin'), login_path, class: "btn btn-primary btn-sm md:btn-md mr-4 " %>
    <p>or</p>
    <%= link_to t('defaults.signup'), new_workspace_path, class: "btn btn-link btn-sm md:btn-md" %>
  </div>
</div>