<li><%= link_to t('defaults.home'), root_path %></li>
<li><%= link_to t('projects.index.title'), projects_path %></li>
<li><%= link_to t('workspaces.index.title'), workspaces_path %></li>

<label for="my-drawer" class="btn btn-primary"> close </label>
<% if logged_in? %>
  <div class="divider">Yours</div>
  <li> <%= link_to t('defaults.user.workspace'), workspace_path(current_user) %> </li>
  <li><%= link_to t('defaults.user.profile'), workspace_profile_path(current_user) %></li>
  <li><%= link_to t('defaults.user.followings'), followings_path(current_user) %></li>
  <li><%= link_to t('defaults.user.favorites'), favorites_path(current_user)%></li>
<% end %>