<footer class="footer p-10 bg-base-200 grid grid-cols-2 lg:grid-cols-5 text-base-content ">
  <div>
    <%= tag.span Project.model_name.human, class: 'footer-title font-bold' %>
    <%= link_to t('projects.index.title'), projects_path, class: 'link link-hover' %>
    <a class="link link-hover">カテゴリー別（工事中）</a> 
    <a class="link link-hover">新着プロジェクト（工事中）</a> 
    <a class="link link-hover">人気のプロジェクト（工事中）</a> 
  </div> 
  <div>
    <%= tag.span Workspace.model_name.human, class: 'footer-title font-bold' %>
    <%= link_to t('workspaces.index.title'), workspaces_path, class: 'link link-hover' %>
  </div> 
  <% if logged_in? %>
    <div>
      <%= tag.span t('defaults.user.page'), class: 'footer-title font-bold' %>
      <%= link_to t('defaults.user.workspace'), workspace_path(current_user.id), class: 'link link-hover' %>
      <%= link_to t('defaults.user.profile'), workspace_profile_path(current_user.id), class: 'link link-hover' %>
    </div>
  <% else %>
    <div>
      <%= tag.span t('defaults.user.guest'), class: 'footer-title font-bold' %>
      <%= link_to t('workspaces.new.title'), new_workspace_path, class: 'link link-hover' %>
      <%= link_to t('defaults.login'), login_path, class: 'link link-hover' %>
    </div>
  <% end %>
  <div>
    <%= tag.span t('defaults.customer_support'), class: 'footer-title font-bold' %> 
    <a class="link link-hover">よくある質問(工事中)</a> 
    <%= link_to t('defaults.question_box'), 'https://forms.gle/vZUzWfCv124BkPe28', class: 'link link-hover' %>
  </div>
  <div>
    <span class="footer-title font-bold">法的事項(工事中)</span> 
    <a class="link link-hover">利用規約</a> 
    <a class="link link-hover">プライバシーポリシー</a> 
    <a class="link link-hover">このサイトについて</a> 
  </div>
</footer> 
<footer class="footer px-10 py-4 border-t bg-base-200 text-base-content border-base-300">

  <div class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4 mr-10">
      <%= link_to 'https://github.com/e601201' do %>
        <%= render 'shared/sns_svg', {sns: 'git_hub'} %>
      <% end %>
      <%= link_to 'https://twitter.com/nagaemon1111' do %>
        <%= render 'shared/sns_svg', {sns: 'twitter'} %>
      <% end %>
      <%= link_to 'https://www.facebook.com/profile.php?id=100004345800407' do %>
        <%= render 'shared/sns_svg', {sns: 'facebook'} %>
      <% end %>
    </div>
  </div>
</footer>