<footer class="footer p-10 bg-base-200 grid grid-cols-2 lg:grid-cols-5 text-base-content ">
  <div>
    <%= tag.span Project.model_name.human, class: 'footer-title font-bold' %>
    <%= link_to t('projects.index.title'), projects_path, class: 'link link-hover' %>
  </div> 
  <div>
    <%= tag.span Workspace.model_name.human, class: 'footer-title font-bold' %>
    <%= link_to t('workspaces.index.title'), workspaces_path, class: 'link link-hover' %>
  </div> 
  <% if logged_in? %>
    <div>
      <%= tag.span t('defaults.user.page'), class: 'footer-title font-bold' %>
      <%= link_to t('defaults.user.workspace'), workspace_path(current_user.id),
          class: 'link link-hover' %>
      <%= link_to t('defaults.user.profile'), workspace_profile_path(current_user.id),
          class: 'link link-hover' %>
    </div>
  <% else %>
    <div>
      <%= tag.span t('defaults.user.guest'), class: 'footer-title font-bold' %>
      <%= link_to t('workspaces.new.title'), new_workspace_path, class: 'link link-hover' %>
      <%= link_to t('defaults.login'), login_path, class: 'link link-hover' %>
    </div>
  <% end %>
  <div>
    <%= tag.span t('defaults.customer_support'), class: 'footer-title font-bold' %> 
    <%= link_to t('defaults.help'), page_path('faq'),
        target: '_blank', rel: 'noopener noreferrer', class: 'link link-hover' %>
    <%= link_to t('defaults.question_box'), 'https://forms.gle/vZUzWfCv124BkPe28',
        target: '_blank', rel: 'noopener noreferrer', class: 'link link-hover' %>
  </div>
  <div>
    <%= tag.span t('defaults.legal_matters'), class: 'footer-title font-bold' %> 
    <%= link_to t('defaults.terms_of_use'), 'https://kiyac.app/termsOfService/Tew7wOh7gIlrq7amz8mo',
        target: '_blank', rel: 'noopener noreferrer', class: 'link link_hover'%>
    <%= link_to t('defaults.privacy_policy'), 'https://kiyac.app/privacypolicy/ZhCcmPYBlfSBRDPPZoi7',
        target: '_blank', rel: 'noopener noreferrer', class: 'link link-hover' %>
  </div>
</footer> 
<footer class="footer px-10 py-4 border-t bg-base-200 text-base-content border-base-300">
  <p>Copyright© Modelers-Log. All Rights Reserved</p>

  <div class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4 mr-10">
      <%= link_to 'https://github.com/e601201' do %>
        <%= render 'shared/sns_svg', {sns: 'git_hub'} %>
      <% end %>
      <%= link_to 'https://twitter.com/nagaemon1111' do %>
        <%= render 'shared/sns_svg', {sns: 'twitter'} %>
      <% end %>
      <%= link_to 'https://www.facebook.com/profile.php?id=100004345800407' do %>
        <%= render 'shared/sns_svg', {sns: 'facebook'} %>
      <% end %>
    </div>
  </div>
</footer>