<div class="form-control ">
  <div class="input-group input-group-xs md:input-group-md ">
    <input type="text" placeholder="Search my projects" class="input input-bordered input-xs md:input-md " />
    <button class="btn btn-square btn-xs md:btn-md">
      <%= t('defaults.search') %>
    </button>
  </div>
</div>

<li><%= " Hello #{current_user.owner_name}" %></li>
<li><%= link_to t('my workspace'), workspace_path(current_user.id) %></li>
<li><a>See my favorite projects(工事中)</a></li>
<li><%= link_to t('defaults.home'), root_path %></li>
<li><%= link_to t('projects.index.title'), projects_path %></li>
<li><%= link_to t('workspaces.index.title'), workspaces_path %></li>


<label for="my-drawer" class="btn btn-primary"> close </label>