<div class="flex my-2 border-b"> 
  <div class="w-2/4">
    <%= tag.p task.title&.truncate(10) %>
  </div>
  <div class="w-1/4">
    <%= tag.p task.task_category_i18n %>
  </div>
  <div class= "flex">
    <%= link_to project_task_path(@project,task), class: "link" do %>
      <%= render 'shared/crud_svg', {object: 'loupe', size: 'h-6 w-6'} %>
    <% end %>
    <% if current_user&.own_project?(@project) %>
      <% if @project.in_progress? %>
        <%= link_to edit_project_task_path(@project,task), class: "link" do %>
          <%= render 'shared/crud_svg', {object: 'note', size: 'h-6 w-6'} %>
        <% end %>
        <%= button_to project_task_status_change_path(@project,task), method: :patch, form: { data: { turbo_confirm: t('defaults.message.change_status_confirm', item:Task.model_name.human) } } , class: "link link-primary" do %>
          <%= render 'shared/crud_svg', {object: 'arrows', size: 'h-6 w-6'} %>
        <% end %>
        <%= button_to project_task_path(@project,task), method: :delete, form: { data: { turbo_confirm: t('defaults.message.delete_confirm', item:Task.model_name.human) } } , class: "link link-secondary" do %>
          <%= render 'shared/crud_svg', {object: 'dustbin', size: 'h-6 w-6'} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>