<div class='flex flex-row-reverse'>
  <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{@project.workspace.owner_name}さんのプロジェクトが完成したよ！
                %0a%0a#{@project.title.truncate(30)}
                %0a%0a%23モデラーズログ%20%23プラモデル%0a%23レシピ公開中%20%23#{@project.project_category_i18n}%0a%0a",
    title: 'Twitter', target: '_blank' do%>
    <div class='btn btn-outline btn-primary '>
      <p>シェアする<p>
        <%= render 'shared/sns_svg', {sns: 'twitter'} %>
    </div>
  <% end %>
</div>
<div id="project-task" class="flex flex-col w-full xl:flex-row mt-5">
  <div id="project-done-task" class="flex flex-col flex-grow place-items-center ">
    <%= tag.label '作成手順', class: 'badge my-2'%>
    <div class="main-content container mx-auto ">
        <ul class="list-none">
          <% @tasks.each do |task| %>
            <li class="border-b mb-3">
                <div class="flex flex-row">
                  <div class="basis-1/12">
                    <div class="text-2xl mr-3 flex justify-center border-2  rounded-lg">
                      <%= task.position %>
                    </div>
                  </div>
                  <div class="basis-7/12">
                    <%= task.title %>
                    <%= simple_format task.body %>
                  </div>
                  <div class="basis-4/12">
                    <%= render 'tasks/task_image',{task: task} %>
                  </div>
                </div>
            </li>
          <% end %>
        </ul>
    </div>
    <div id="revert-project-state" class="main-content container mx-auto px-8">
      <%= link_to t('defaults.revert') , project_status_change_path(@project),
        data: { turbo_method: :patch , turbo_confirm: t('defaults.message.in_progress_confirm', item: Project.model_name.human) },
        class: "btn btn-secondary my-2 " if @project.workspace_id == current_user&.id
      %>
    </div>
  </div>
</div>