<div id="<%= dom_id project %>">
  <div class="my-1">
    <% if project.project_image.present? %>
      <%= image_tag project.project_image.variant(resize_to_limit: [100, 100])%>
    <% else %>
      <%= image_tag "sample", size: "100x100" %>
    <% end %>
  </div>
  <div class="my-1">
    <%= project.title %>
  </div>
  
  <div class="my-1">
    <%= project.body %>
  </div>
  <div class="my-1">
    <%= project.workspace.owner_name %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this project", project, class: "btn btn-xs" %>
    <%= link_to 'Edit this project', edit_project_path(project), class: "btn btn-xs" %>
    <hr class="mt-6">
  <% end %>
</div>
