<div id="<%= dom_id project %>" class="card shadow-l rounded-none ">
  <%= link_to project, class: "relative" do %>
    <% if project.project_image.attached? %>
      <%=cl_image_tag "daichi-test/animal-test/#{project.project_image.key}",
      gravity: "face", height: 300, width: 400, crop: "thumb", fetch_format: :auto  %>
    <% else %>
      <%= cl_image_tag "daichi-test/animal-test/sample_image.png", :height=>300, :width=>400, :crop=>"thumb" %>
    <% end %>
    <div class="absolute bottom-0 left-0 flex item-center">
      <%=cl_image_tag "daichi-test/animal-test/#{project.workspace.owner_avatar.key}",
          gravity: "face", height: 30, width: 40, crop: "thumb", radius: 'max', fetch_format: :auto  %>
      <div class="flex items-center flex-none h-10 ml-2 px-3">
        <%= tag.p project.workspace.owner_name, class: "font-bold truncate w-28" %>
      </div>
    </div>
  <% end %>
  <div class="card-body p-1">
    <div class="card-actions justify-between ">
      <div>
        <%= tag.p project.title, class: "card-title" %>
      </div>
      <%= tag.div class: "radial-progress text-primary", style: "--value:#{project.decorate.percentage_of_done_tasks}; --size:3rem;" do %>
        <%= project.decorate.percentage_of_done_tasks %>%
      <% end %>
    </div>
    <div class="card-actions justify-end ">
      <div class="badge badge-outline">タグ機能は</div>
      <div class="badge badge-primary badge-outline">工事中です</div>
    </div>
  </div>
</div>