<div id="<%= dom_id project %>" class="card shadow-l rounded-none ">
  <%= link_to project do %>
    <% if project.project_image.attached? %>
      <%=cl_image_tag "daichi-test/animal-test/#{project.project_image.key}",
      gravity: "face", height: 300, width: 400, crop: "thumb", fetch_format: :auto  %>
    <% else %>
      <%= image_tag "sample_project.png" %>
    <% end %>
  <% end %>
  <div class="flex item-center">
    <% if project.workspace.owner_avatar.attached? %>
      <%=cl_image_tag "daichi-test/animal-test/#{project.workspace.owner_avatar.key}",
          gravity: "face", height: 30, width: 45, radius: 'max', :quality=>"auto"%>
    <% else %>
      <%= image_tag "sample_avatar.png", size: "40x30", class: 'rounded-full', alt: "アイコン"%>
    <% end %>
    <%= link_to workspace_profile_path(project.workspace_id) do %>
      <div class="flex items-center flex-none h-10 ml-2 px-3">
        <%= tag.p project.workspace.owner_name, class: "font-bold truncate w-28" %>
      </div>
    <% end %>
  </div>
  <div class="card-body p-1">
    <div class="card-actions">
      <div class='border-r border-gray-700 pr-2'>
        <%= project.title.truncate(30)%>
      </div>
      <div>
        <%= simple_format project.body.truncate(30) %>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="border-slate-400 border rounded-lg py-2 px-7" >
        <%= tag.p t(Task.human_attribute_name('task_state')), class: "text-xs"%>
        <%= tag.div class: "radial-progress text-primary", style: "--value:#{project.decorate.percentage_of_done_tasks}; --size:3rem;" do %>
          <%= project.decorate.rate_of_done_tasks %>
        <% end %>
      </div>
      <% if logged_in? %>
        <%= render 'projects/favorite_button',{ project: project }%>
      <% end %>
        
    </div>
    <div class="card-actions justify-end ">
      <%= tag.div project.state_i18n, class: "justify-center badge badge-secondary badge-outline" %>
      <div class="badge badge-outline">タグ機能は</div>
      <div class="badge badge-primary badge-outline">工事中です</div>
    </div>
  </div>
</div>