<div class="tabs container mx-auto">
  <%= link_to t('workspaces.index.title'), workspaces_path, class: 'tab tab-bordered' %>
  <%= link_to t('projects.index.title'), projects_path, class: 'tab tab-bordered tab-active'%>
</div>
<%= render 'projects/search_form', {q: @q, url: projects_path } %>
<div class="container mx-auto grid grid-cols-2 md:grid-cols-4 gap-4">
  <%= render @projects %>
</div>
<div>
  <%= paginate @projects %>
</div>
