<div class= 'container mx-auto sm:flex justify-center' >
  <div class='card w-screen max-w-sm my-3'>
    <div class='card-body bg-slate-100'>
      <%= form_with url: login_path, method: :post do |f| %>
        <div class='form-control'>
          <%= f.label :email, class: 'label' do %>
            <span class='label_text'><%= Workspace.human_attribute_name('email')%></span>
          <% end %>
          <%= f.text_field :email, class: 'input input-bordered input-primary' %>
        </div>
        <div class='form-control'>
          <%= f.label :password, class: 'label' do %>
            <span class='label_text'><%= Workspace.human_attribute_name('password')%></span>
          <% end %>
          <%= f.password_field :password, class: 'input input-bordered input-primary' %>
        </div>
        <label class='label'>
          <%= link_to t('defaults.signup'), new_workspace_path, class: 'label-text-alt link link-hover' %>
        </label>
        <label class='label'>
          <%= link_to t('defaults.message.forgot_password?'), new_password_reset_path, class: 'label-text-alt link link-hover' %>
        </label>
        <div class='form-control mt-6'>
          <%= f.submit t('defaults.login'), class: 'btn btn-primary', data: { turbo: false } %>
        </div>
      <% end %>
      <div class='divider'>
        or
      </div>
      <label class='label py-0'>
        <%= tag.span 'メールアドレスとパスワードがランダムで作成されます', class: 'label-text-alt text-xs text-slate-400'%>
      </label>
      <label class='label py-0'>
        <%= tag.span 'お試しで使われる際にご利用ください。', class: 'label-text-alt text-xs text-slate-400'%>
      </label>
      <%= button_to 'ゲストログイン', guest_login_path, method: :post, form: { data: { turbo_confirm: 'ゲストユーザーとしてログインします。' } }, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>