<li>
  <%= link_to t('defaults.home'), admin_root_path %>
</li>
<%= tag.div t('defaults.list'), class: 'divider' %>
<li>
  <%= link_to t('projects.index.title'), admin_projects_path %>
</li>
<li>
  <%= link_to t('workspaces.index.title'), admin_workspaces_path %>
</li>
<li>
  <%= link_to t('news.index.title'), admin_news_index_path %>
</li>
<%= tag.label t('defaults.close'),for: 'my-drawer', class: 'btn btn-primary' %>