<% content_for(:title, t('defaults.signin')) %>
<div class= 'container mx-auto sm:flex justify-center' >
  <div class='card w-screen max-w-sm my-3'>
    <div class='card-body bg-slate-100'>
      <%= form_with url: admin_login_path, method: :post do |f| %>
        <div class='form-control'>
          <%= f.label :email, class: 'label' do %>
            <span class='label_text'><%= Workspace.human_attribute_name('email')%></span>
          <% end %>
          <%= f.text_field :email, class: 'input input-bordered input-primary' %>
        </div>
        <div class='form-control'>
          <%= f.label :password, class: 'label' do %>
            <span class='label_text'><%= Workspace.human_attribute_name('password')%></span>
          <% end %>
          <%= f.password_field :password, class: 'input input-bordered input-primary' %>
        </div>
        <div class='form-control mt-6'>
          <%= f.submit t('defaults.login'), class: 'btn btn-primary', data: { turbo: false } %>
        </div>
      <% end %>
    </div>
  </div>
</div>