<!DOCTYPE html>
<html data-theme="cmyk" >
  <head>
    <title>ModelersLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- header here -->
    <% if logged_in? %>
      <%= render 'shared/user_logined_header'%>
    <% else %>
      <%= render 'shared/before_login_header'%>
    <% end %>
    <%= render 'shared/flash_message' %>

    <!-- main here -->
    <main class= "bg-base-200 border-slate-400 border-y " >
      <div class="drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <%= yield %>
        </div>
        <div class="drawer-side">
          <label for="my-drawer" class="drawer-overlay"></label>
          <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
            <!-- Sidebar content here -->
            <% if logged_in? %>
              <%= render 'shared/user_logined_drawer'%>
            <% else %>
              <%= render 'shared/before_login_drawer'%>
            <% end %>
          </ul>
        </div>
      </div>
    </main>

    <!-- footer here -->
    <div class="bg-base-200">
      <%= render 'shared/footer'%>
    </div>
    <% if Rails.env.development? %>
      <script type="module" src="https://cdn.skypack.dev/@aki77/rails-template-inspector"></script>
      <rails-inspector url-prefix="vscode://file" root="<%= Rails.root %>" combo-key="command-shift-v"></rails-inspector>
    <% end %>
  </body>
</html>

